@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@400;700;900&family=Ubuntu+Mono&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
