API_HOST=http://localhost:3000
CLIENT_HOST=http://localhost:5173
EVENTS_DB=./storage/events.db
STATE_DB=./storage/state.db
MIGRATIONS_DB=./storage/migrations.db
JWT_SECRET="los gatitos son lo mejor"
ADMIN_FIRST_NAME=
ADMIN_LAST_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_SECURE=
EMAIL_DELAY_MS=
EMAIL_PROCESSING_INTERVAL_MS=