API_HOST=http://localhost:3000
FRONTEND_HOST=http://localhost:5173
EVENTS_DB=./storage/events.db
STATE_DB=./storage/state.db
MIGRATIONS_DB=./storage/migrations.db
JWT_SECRET="los gatitos son lo mejor"
ADMIN_FIRST_NAME=Pablo
ADMIN_LAST_NAME=Baleztena
ADMIN_EMAIL=pablo@ultharsoftware.com
ADMIN_PASSWORD=securepassword
EMAIL_HOST="smtp.ethereal.email"
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_DELAY_MS=1000
EMAIL_FROM="support@ultharsoftware.com"
SUPPORT_EMAIL="support@ultharsoftware.com"
TZ=America/Argentina/Buenos_Aires